@media screen and (min-width: 1440px)   {
    body    {
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        background-color: hsl(212, 45%, 89%);
        font-family: 'Outfit', sans-serif;
        margin: auto;
        position: absolute;
        top: 60%;
        left: 60%;
        transform: translate(-50%, -50%);
    }

    #qr-code   {
        width: 325px;
        height: 520px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 5%;
        margin-left: 400px;
        margin-top: 75px;
    }
    img {
        width: 280px;
        border-radius: 5%;
        padding: 10px;
        margin-left: 10px;
        margin-top: 10px;

    }
    #improve    {
        font-weight: 700;
        font-size: 1.5em;
        padding: 10px;
        text-align: center;
        color: hsl(218, 44%, 22%);
        margin-bottom: 0;
        margin-top: 10px;
    }
    #scan   {
        font-weight: 400;
        font-size: 15px;
        color:  hsl(220, 15%, 55%);
        padding: 10px;
        text-align: center;
        margin-top: 0;
    }
}

@media screen and (max-width: 375px)   {
    body    {
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        background-color: hsl(212, 45%, 89%);
        font-family: 'Outfit', sans-serif;
        position: absolute;
        left: 10%;
    }

    #qr-code   {
        width: 300px;
        height: 480px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 5%;
        padding: 10px;
        margin-top: 75px;
    }
    img {
        width: 280px;
        border-radius: 5%;
        padding: 10px;

    }
    #improve    {
        font-weight: 700;
        font-size: 1.4em;
        padding: 10px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        color: hsl(218, 44%, 22%);
    }
    #scan   {
        font-weight: 400;
        font-size: 15px;
        color:  hsl(220, 15%, 55%);
        padding: 10px 10px;
        text-align: center;
        margin: 0;
    }
}